<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Successful</title>
  <script>
     alert("{{message}}");
    window.location.href = "/blogs";
  </script>
</head>
<body>
</body>
</html>
